<!DOCTYPE html><html><head><meta charset="utf-8"><title>Untitled Document.md</title><style></style></head><body id="preview">
<h1><a id="BINBASH_0"></a>BINBASH</h1>
<hr>
<p>Perform GET and POST requests to play <code>excel2016/binbash</code></p>
<h1><a id="IMPORTANT_CALLS_4"></a>IMPORTANT CALLS</h1>
<p>API :</p>
<ul>
<li>All response are in JSON format having <code>status</code> set to either <code>Success</code> or <code>Failure</code>.</li>
<li>Example of a response { “status” : “Success” , “result” : “welcome to binbash” }</li>
<li>If it is a <code>Success</code> then <code>result</code> has to be displayed to the binbash terminal as output.</li>
<li>If the status is a <code>Failure</code>, an internal error occured and its has <code>reason</code> parameter which shouldn’t be displayed to terminal {its for debug}.</li>
<li>Failure response dont have <code>result</code> value and therefore nothing should be shown to user. Only <code>Success</code> calls should be shown.</li>
</ul>
<h3><a id="1st_call___CREATING_USER_AND_START_BINBASH_13"></a>1st call :  CREATING USER AND START BINBASH</h3>
<ul>
<li>
<p>URL:</p>
<p><a href="http://52.39.25.19:8000/request/?user_id=username&amp;create=true&amp;name=username">http://52.39.25.19:8000/request/?user_id=username&amp;create=true&amp;name=username</a></p>
<p>Provide the <code>username</code> to user_id and also set create=true to create a user. If create=true is not provided, <code>&quot;status&quot;: &quot;Failure&quot;</code> occurs.</p>
<p>Also provide <code>name</code> as another GET parameter for computing ranklist.</p>
</li>
<li>
<p>Response:</p>
<pre><code>  {  
     &quot;status&quot;: &quot;Success&quot;,
     &quot;level&quot;: 1,
     &quot;question&quot;: 1,
     &quot;question_info&quot;: &quot;&quot;,
     &quot;result&quot;: &quot;Welcome to #!/bin/bash\r\n\r\nThe world of programming is in a standstill. All open source programing languages have been closed. \r\n\r\nWell... All except bash. An organization has dismantled the entire GNU community and forced them to enforce proprietary ownership.\r\n \r\nYour task is to help free the open source languages using bash scripting.\r\nEnter the command ‘help’ to understand the rules of the game. \r\nFirst, let’s test your basic bash scripting.\r\nPress any key to begin...&quot;
  }
</code></pre>
</li>
</ul>
<p>Just print the <code>result</code> to terminal.</p>
<h6><a id="NOTE_DONT_SKIP_34"></a>NOTE (DONT SKIP)</h6>
<ol>
<li>A call to <a href="http://52.39.25.19:8000/request/?user_id=username&amp;create=true&amp;name=username">http://52.39.25.19:8000/request/?user_id=username&amp;create=true&amp;name=username</a> must be made when a user logs in, even if the user has been already created. This call is necessary to store log-in time. So make the call with create=true set, and there wont be any user created but you will receive a <code>Success</code> reply with <code>result</code> and that result can be displyed to terminal initially.</li>
</ol>
<h3><a id="2nd_call__ALL_COMMANDS_THAT_USER_TYPES_IN_THE_TERMINAL_38"></a>2nd call:  ALL COMMANDS THAT USER TYPES IN THE TERMINAL</h3>
<ul>
<li>
<p>URL:</p>
<ol>
<li><a href="http://52.39.25.19:8000/request/?user_id=username&amp;cmd=whoami">http://52.39.25.19:8000/request/?user_id=username&amp;cmd=whoami</a></li>
<li><a href="http://52.39.25.19:8000/request/?user_id=username&amp;cmd=ls">http://52.39.25.19:8000/request/?user_id=username&amp;cmd=ls</a></li>
<li><a href="http://52.39.25.19:8000/request/?user_id=username&amp;cmd=cat%20question.txt">http://52.39.25.19:8000/request/?user_id=username&amp;cmd=cat question.txt</a></li>
<li><a href="http://52.39.25.19:8000/request/?user_id=username&amp;cmd=help">http://52.39.25.19:8000/request/?user_id=username&amp;cmd=help</a></li>
<li><a href="http://52.39.25.19:8000/request/?user_id=username&amp;cmd=scoreboard">http://52.39.25.19:8000/request/?user_id=username&amp;cmd=scoreboard</a></li>
<li><a href="http://52.39.25.19:8000/request/?user_id=username&amp;cmd=anything_else">http://52.39.25.19:8000/request/?user_id=username&amp;cmd=anything_else</a></li>
</ol>
<p>Must provide <code>user_id</code> and <code>cmd</code></p>
<ul>
<li>cmd is the command the user gives.</li>
</ul>
</li>
<li>
<p>Response:</p>
<pre><code>  {
      &quot;status&quot;: &quot;Success&quot;, 
      &quot;result&quot;: &quot;file.txt question.txt testcase.txt answer.sh&quot;
  }
</code></pre>
<p>Print the <code>result</code> to terminal if status is <code>Success</code></p>
</li>
</ul>
<h4><a id="6_SCOREBOARD_CALL_HAS_SPECIAL_RESPONSE_60"></a>6*. SCOREBOARD CALL HAS SPECIAL RESPONSE</h4>
<ul>
<li>
<p>This call has only user_id as there is no name in the backend. Response has user_id and is in sorted order.</p>
</li>
<li>
<p>URL:</p>
<p><a href="http://52.39.25.19:8000/request/?user_id=username&amp;cmd=scoreboard">http://52.39.25.19:8000/request/?user_id=username&amp;cmd=scoreboard</a></p>
</li>
<li>
<p>Response:</p>
<pre><code> {    
      &quot;status&quot;: &quot;Success&quot;, 
      &quot;result count&quot;: 3, 
      &quot;result&quot;: &quot;NAME\t\tLEVEL\t\tQUESTION\t\tLAST CORRECT ANSWER TIME\ndoylefermi\t\t3\t\t2\t\t2016-09-24 18:59:34+00:00\ntestuser1\t\t1\t\t2\t\t2016-09-23 21:51:40+00:00\nusername\t\t1\t\t2\t\t2016-09-24 18:40:46+00:00\n&quot;,
      &quot;result_json&quot;: {
          &quot;0&quot;: [&quot;name&quot;, &quot;level_no&quot;, &quot;question_no&quot;, &quot;last submitted correct answers timestamp&quot;], 
          &quot;1&quot;: [&quot;doylefermi&quot;, 3, 2, &quot;2016-09-24T18:59:34Z&quot;], 
          &quot;2&quot;: [&quot;testuser1&quot;, 1, 2, &quot;2016-09-23T21:51:40Z&quot;], 
          &quot;3&quot;: [&quot;username&quot;, 1, 2, &quot;2016-09-24T18:40:46Z&quot;]
      }
  }
</code></pre>
<p>Notes:</p>
<ul>
<li><code>&quot;result count&quot;</code> means “no of players”.</li>
<li><code>“result_json”</code> is another json with 0th element denoting contents in each column</li>
</ul>
</li>
</ul>
<h3><a id="3rd_call__FILE_SUBMISSION_A_POST_REQUEST_WITH_THE_FILE_84"></a>3rd call:  FILE SUBMISSION: A POST REQUEST WITH THE FILE</h3>
<ul>
<li>
<p>URL:</p>
<p>52.39.25.19:8000/request/?user_id=username&amp;cmd=submit</p>
<p>Call is same as before with command being <code>submit</code> and the differnce being a <code>POST</code> call has to be made to that url only.</p>
<pre><code>  POST parameter :
      1. file : uploaded file
</code></pre>
<p>Example of a successful call :</p>
<pre><code>  curl --form file=@/home/harish/anyname.sh http://52.39.25.19:8000/request/?user_id=username\&amp;cmd=submit
</code></pre>
</li>
<li>
<p>Response:</p>
<pre><code>  {
        &quot;status&quot;: &quot;Success&quot;,
        &quot;result&quot;: &quot;Success on test cases\nTestcase input: 10\n\nYour output: 6\n&quot;,
        &quot;md5&quot;: &quot;f30039df1312661857e7b33297585010&quot;
  }
</code></pre>
</li>
</ul>
<p>Display <code>result</code> as output to the terminal.</p>
<p>If testcases has failed, still the <code>status</code> will be <code>Success</code> and you can display the <code>result</code> which test case failure details.</p>
<h3><a id="4th_call__RANK__OF_A_USER_109"></a>4th call:  RANK  OF A USER</h3>
<ul>
<li>
<p>URL:</p>
<pre><code>  http://52.39.25.19:8000/rank/?user_id=doylefermi
</code></pre>
</li>
<li>
<p>Response:</p>
</li>
<li>
<pre><code>  {&quot;status&quot;: &quot;Success&quot;, &quot;result&quot;: 1}</code></pre>
</li>
</ul>

</body></html>